<div style="width:100%;display:block;">
  <h5>{{authority.name}}</h5>
  <h7>id: {{authority.id}}</h7>
</div>

{{#md-card-collapsible}}
  {{#each addableGrantCollections as |coll|}}
    {{#md-collapsible icon="mdi-image-filter-drama" title=coll.token.title}}
      {{#md-card-collapsible}}
      
        {{#md-collapsible icon="mdi-image-filter-drama" title="current grants" active=true}}
	  {{#md-table content=coll.members class=tableClass  as |member|}}
            {{md-table-col row=member valueBindingPath='title'}}
            {{#md-table-col row=member }}
              <button {{action "removeGrant" member coll.token}}>remove</button>
            {{/md-table-col}}
          {{/md-table}}
	{{/md-collapsible}}
      
        {{#md-collapsible icon="mdi-image-filter-drama" title="addable grants"}}
	  {{#md-table content=coll.addables class=tableClass  as |addable|}}
            {{md-table-col row=addable valueBindingPath='title'}}
            {{#md-table-col row=addable }}
	      <button {{action "addGrant" addable coll.token}}>add</button>
            {{/md-table-col}}
          {{/md-table}}
	{{/md-collapsible}}
	
      {{/md-card-collapsible}}
      
    {{/md-collapsible}}
  {{/each}}
{{/md-card-collapsible}}
