<h5>Group: {{group.name}}</h5>
<br>
<h7>Id: {{group.id}}</h7>
{{#if noUsers}}

{{else}}
{{#md-card title="users" }}
  {{#md-card-content}}
    {{#md-table content=group.users class=tableClass as |member|}}
      {{md-table-col row=member valueBindingPath='name'}}
      {{#md-table-col row=member }}
        {{md-btn text='remove'
    	action='removeUser'
    	actionArg=member
    	class=buttonClass
    	}}
      {{/md-table-col}}
    {{/md-table}}
  {{/md-card-content}}
{{/md-card}}
{{/if}}

{{#if noSubGroups}}

{{else}}
{{#md-card title="subgroups"}}
  {{#md-card-content}}
    {{#md-table content=group.subGroups class=tableClass as |group|}}
      {{md-table-col row=group valueBindingPath='name'}}
      {{#md-table-col row=group }}
        {{md-btn text='remove'
    	action='removeSubGroup'
    	actionArg=group
    	class=buttonClass
    	}}
      {{/md-table-col}}
    {{/md-table}}
  {{/md-card-content}}
{{/md-card}}
{{/if}}

{{#md-card-collapsible }}
    {{#md-collapsible icon="mdi-image-filter-drama" title="add users"}}
      {{#if noMoreAddableUsers}}
        <i>no more addable users</i>
      {{else}}
        {{#md-table content=addableUsers class=tableClass  as |user|}}
          {{md-table-col row=user valueBindingPath='name'}}
          {{#md-table-col row=user }}
              {{md-btn text='add'
          	action='addUser'
          	actionArg=user
          	class=buttonClass
          	}}
          {{/md-table-col}}
        {{/md-table}}
      {{/if}}
    {{/md-collapsible}}
    
    {{#md-collapsible icon="mdi-image-filter-drama" title="add subgroups"}}
      {{#if noMoreAddableSubGroups}}
        <i>no more addable sub groups</i>
      {{else}}
        {{#md-table content=addableSubGroups class=tableClass  as |group|}}
          {{md-table-col row=group valueBindingPath='name'}}
          {{#md-table-col row=group }}
              {{md-btn text='add'
          	action='addSubGroup'
          	actionArg=group
          	class=buttonClass
          	}}
          {{/md-table-col}}
        {{/md-table}}
      {{/if}}
    {{/md-collapsible}}
{{/md-card-collapsible}}

{{md-btn text='manage authorizations'
	action='manageAuthorizationsGroup'
	class=buttonClass
	actionArg=group
	}}